.infos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.infos div {
    width: 33%;
}

.infos div:hover {
    background-color: #aaa;
    cursor: pointer;
    border-radius: 10px;
}

.infos span {
    text-decoration: none;
    color: #504F50;
}

.infos p {
    font-weight: 500;
    margin: 4px;
    padding: 0 5px;
}
