.infos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.infos span {
    text-decoration: none;
    color: #504F50;
}

.infos p {
    font-weight: 500;
    margin-bottom: 2px;
    padding: 0 5px;
}
