.popular-repository {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.popular-repository .description {
  color: var(--gray);
}

span.active {
  color: var(--highlight-active);
}
