#root > div > header {
  width: calc(100% - 40px);
  height: 50px;
  padding: 10px 20px;
  background-color: var(--header-bg-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#root > div > header .text-field {
  background-color: var(--header-bg-color);
  color: var(--light-bg-color);
}

#root > div > header .text-field:focus {
  outline: none;
  background-color: white;
  color: var(--text-color);
  border-bottom-width: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
