.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.15);

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.modal {
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.modal.sm {
  width: 25%;
}

.modal.md {
  width: 50%;
}

.modal.lg {
  width: 75%;
}

.modal.xl {
  width: 100%;
}

.modal > header {
  border-bottom: 1px solid var(--border-color);
}

.modal > .container {
  max-height: calc(100% - 150px);
  overflow-y: auto;
}

.modal > footer {
  border-top: 1px solid var(--border-color);
}
