.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.result {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #fff;
    color: #504F50;
    border-radius: 10px;
}

.search-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #504F50;
    border-radius: 10px;
    width: 60%;
}

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.search input {
    border-radius: 25px;
    height: 25px;
    width: 70%;
    margin-right: 5px;
}

.search input:focus {
    outline: 0;
}

.search button {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.search button:hover {
    opacity: .5;
}