.repositories-all {
    width: 60%;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #504F50;
} 

.repositories-all h3{
    margin: 5px auto;
}

.repositories-all a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
    color: inherit;
    font-weight: 500;
}

.repositorie {
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 5px 5px 5px;
}

.repositorie:hover {
    background-color: #fff;
    color: #777;
}

.icon {
    font-size: 20px;
    margin: 0;
}

.more-repos {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-info {
    font-size: 30px;
}
