.repositories-all {
    width: 60%;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    margin: 10px 0;
    color: #333;
    max-width: 1000px;
    min-width: 300px;
}

.container-repository {
    height: 70vh;
    max-height: 600px;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.hidden {
    display: none;
    z-index: -10;
}

.liked {
    color: red;
}

.repository {
    background-color: #ccc;
    height: 80px;
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    display: flex;
}

.repository-item {
    cursor: pointer;
    width: 95%;
}

.repo-like {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.repository h3 {
    margin: 5px 0;
}

.repository p {
    margin: 5px 0;
}

.repository:hover {
    background-color: #eee;
}

.hearth {
    font-size: 20px;
    margin-right: 5px;
    transition: all ease .3s;
}

.hearth:active {
    transform: rotate(180deg);
}

.hearth:hover {
    font-size: 24px;
    cursor: pointer;
}