* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  --header-bg-color: rgb(36, 41, 47);
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* util */
.fill-width {
  width: 100%;
}
.fill-height {
  height: 100%;
}

/* containers */
.container {
  width: calc(100% - 100px);
  padding: 0 50px;
}

/* linhas e colunas */
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row > .col,
.row > .col-4 {
  width: 100%;
}
.row > .col-1 {
  width: 25%;
}
.row > .col-2 {
  width: 50%;
}
.row > .col-3 {
  width: 75%;
}

/* flex utils */
.flex {
  display: flex;
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-h-center {
  align-items: center;
}

.align-v-center {
  justify-content: center;
}
