body {
    background-color: #333;
    color: #fff;
}

h3 {
    padding: 15px;
}

.btn-my {
    background-color: #fff;
    color: #333;
    border: black 1px solid;
    outline: none;
    border-radius: 5px;
}

.btn-my:hover{
    background-color: #f3f3f3;
    color: black;
    border: none;
}
.btn-my:active {
    background-color: #fff;
    color: #333;
    border: none;
    outline: none;
}

.btn-my:focus{
    background-color: #fff;
    color: #333;
    border: none;
    outline: none;
}

